@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-primaria:#2D372B;
    --cor-secundaria:#3F6B37;
    --cor-terciaria:#B8EABF;
    --cor-hover: #8C5B30;

    --fonte-primaria: "Archivo Black", sans-serif;
    --fonte-secundaria: "Tomorrow", sans-serif;

}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.destaque-titulo {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-style: normal;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}


.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 3.5px groove var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.apresentacao__links__icon {
  filter: brightness(0) saturate(100%) invert(72%) sepia(12%) saturate(800%) hue-rotate(100deg);
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
    border: 3.5px ridge var(--cor-secundaria);
}

.rodape {
    padding: 24px;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.12rem;
}